<div class="footer-hours">
    <div class="hour-holder">
        <h4>Monday - Thursday</h4>
        <h5>5:30am - 7:30pm</h5>
    </div>
    <div  class="hour-holder">
        <h4>Friday - Saturday</h4>
        <h5>5:30am - 10pm</h5>
    </div>
</div>
</main>
<footer class="footer">
    <p>&COPY; 2018 Broadway Cafe - Theme by
        <a href="https://foxdesignagency.com" target="_blank">Fox Design Agency</a>
    </p>
    <p class="aristos-footer">Powered By Aristos CMS - Node</p>
</footer>
</body>

</html>