<% include ../_layouts/header %>

    <h1 class="page-title">
        <%= title %>
    </h1>
    <div>
        <div class="shop-cats">

        </div>
        <div>

        </div>
    </div>

    <% include ../_layouts/footer %>