/*
colors

cream       #fffdd0
tan         #D2B48C
brown       #8B4513

coral       #ff7f50
aqua        #00FFFF
periwinkle  #CCCCFF
*/
/* main css */
main{
    background: #fffdd0
}


/* header css */
.main-header{
    display: flex;
    flex-direction: column;
    height: 150px;
    background: #8B4513;
    position: relative;
    width: 100%;
    opacity: .8;
    box-shadow: 1px 2px 10px #000;
}
.nav-link{
    padding: 5px;
    margin: 5px 10px;
    color:  #eee;
    font-weight: 600;
    transition: all .3s linear;
}
.navbar-brand{
    margin: 0 auto;
    padding: 20px;
    align-items: center;
    justify-content: center;
}
.navbar-brand img{
    width: 200px;
}
.main-header-top{
    display: flex;
}
.main-header-top-nav{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    font-style: italic;
   font-size: 14px;
}
.main-header-bottom{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 10px;
}
.main-header-bottom-nav{
    display: flex;
}

.nav-link:hover{
    transition: color .3s linear;
    color:  #CCCCFF;
}
.hovered-item {
    visibility: hidden;
    position: absolute;
    background-color: #8B4513;
    padding: 10px 5px 5px 5px;
    min-width: 160px;
    display: flex;
    flex-direction: column;
    z-index: 1;
}
.hovered-item a{
    transition: none;
}
.dropdown:hover .hovered-item {
   visibility: visible;
}
/* footer css */
.footer{
    text-align: center;
    width: 100%;
    padding-top: 40px;
    background: #8B4513;
    color: #eee;
    height: 200px;
}
.footer p{
    
}
.aristos-footer{
    margin: 10px;
    font-style: italic;
}
.footer-hours{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #D2B48C;
    height: 150px;
}

.hour-holder{
    margin: 5px 10px;  
     text-align: center;
     border: 5px solid #8B4513;
     padding: 20px;
     background: #fffdd0;
     cursor: default;
     transition: all .3s linear;
}
.hour-holder:hover{
   box-shadow: 0 0 7px #8B4513;
   transition: all .3s linear;
}
.hour-holder h4{
    font-size: 20px;
    color:#8B4513;
    font-weight: 600;
}
.hour-holder h5{
    font-size: 18px;
    color: #8B4513;
    font-weight: 600;
}

/* basic stuff */
.page-title{
    text-align: center;
    color: #8B4513;
    font-size: 24px;
    font-weight: 900;
    padding: 20px;
}

/* form stuffs */
.cafe-form{
    border: 5px solid #8B4513;
    width: 300px;
margin: 20px auto;
padding: 40px;
}
.form-group label{
    font-size: 20px;
    color: #8B4513;
    font-weight: 600;
}
.form-group input{
    font-size: 16px;
    color: #8B4513;
    font-weight: 600;
    margin: 10px 0  10px 0;
}
.cafe-form button{
  width: 100px;
  height: 30px;
   border: 2px solid #8B4513;
   background: #fffdd0;
   font-weight: 900;
   color: #8B4513;
}

.cafe-form button:hover{
     border: 2px solid #D2B48C;
     background: #8B4513;
     font-weight: 900;
     color: #fffdd0;
     cursor: pointer;
  }

  /* home page */
  .hero{
      margin-top: -150px;
      display: flex;
     
  }
  .hero img{
    display: flex;
    width: 100%;
    height: 600px;
}
.welcome-text{
   width: 100%;
    background: #D2B48C;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    border-top: 2px solid #8B4513;
border-bottom: 2px solid #8B4513;
}
  .home-bulletin{
      display: flex;
      margin: 0 auto;
      padding: 40px;
      width: 900px;
  }

  .home-bulletin-info{
      padding: 30px;
      width: 400px;
      color: #8B4513;
  }
  .home-bulletin-info h4{
    font-size: 30px;
    margin: 40px 0 40px 0;
    font-weight: 600;
  }

  .featured-products{
    text-align: center;
    height: 350px;
  }
  .featured-products h4{
   font-size: 30px;
font-weight: 600;
padding: 10px;
color: #fffdd0;
border-top: 2px solid #8B4513;
border-bottom: 2px solid #8B4513;
background: #D2B48C;
  }
  .home-product-holder{
      display: flex;
     justify-content: center;
      width: 1000px;
      height: 100%;
      margin: 0 auto;
  }

  .product-display{
      padding: 20px;
      width: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .product-display img{
    width: 200px;
    margin: 5px;
}
.product-display h5{
    font-weight: 600;
    font-size: 20px;
}
.product-display h6{
    font-style: italic;
    font-size: 18px;
    margin: 5px;
}
.product-display a{
    border: 2px solid #8B4513;
    width: 200px;
    padding: 5px;
    color: #8B4513;
    font-weight: 600;
}
.product-display a:hover{
    border: 2px solid #D2B48C;
     background: #8B4513;
     color: #fffdd0;
     cursor: pointer;
  }

  /* cart styles */
  .checkout_table{
    width: 100%;
    text-align: center;
    border-spacing: 0;  
}
.checkout_table th{
    border-top: 1px solid #8B4513;
    border-bottom: 2px solid #8B4513;
    padding: 5px;
    font-size: 20px;
    font-variant: small-caps;
}
.checkout_table tbody td{
   vertical-align: middle;
}
.checkout_table tbody td{
    border-bottom: 1px solid #8B4513;
 }
.checkout_table tbody tr:nth-child(odd){
    background: #D2B48C;
 
}
.checkout_table tfoot td{
    padding: 20px;
    vertical-align: middle;
    height: 30px;
    border-bottom: 2px solid #8B4513;
 
}
.btn-clearcart{
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    border: 1px solid #8B4513;
    background: #FF0000;
    color: white;
}
.btn-clearcart:hover{
    background-color:#B22222;
    color: #eee;
    transition: .4s;
}
.btn-buynow{
    padding: 15px;
    margin: 10px;
    cursor: pointer;
    border: 1px solid #8B4513;
    background: #1E90FF;
    color: white;
}
.btn-buynow:hover{
    background-color:	#B0C4DE;
    color: #eee;
    transition: .4s;
}
.btn-quantity{
    padding: 5px;
    cursor: pointer;
    border: 1px solid #8B4513;
    color: #8B4513;
}
.btn-quantity:hover{
    background: #CCCCFF;
    transition: .4s;
}

.img-preview{
    width: 100px;
}

.pp{
    visibility: hidden;
}

.checkout-total{
    font-weight: 900;
    font-size: 20px;
}

.empty-cart{
    text-align: center;
    font-size: 80px;
    margin: 50px 0 100px 0;
}
.page_title{
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    margin: 20px;
}

.checkout-bottom-buttons{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 10px 30px 10px 0;
}
.checkout-bottom-buttons div{
    display: flex;
    margin: 10px 0 10px 0;
}
